# Base de datos
POSTGRES_DB=veterinaria_inventario
POSTGRES_USER=postgres
POSTGRES_PASSWORD=TU_PASSWORD_SEGURO_AQUI

# Backend
NODE_ENV=production
JWT_SECRET=TU_JWT_SECRET_SUPER_SEGURO_AQUI_MINIMO_32_CARACTERES
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://TU_DOMINIO.com

# WhatsApp Business Cloud API
# Token de acceso obtenido desde Meta Business Manager
WHATSAPP_ACCESS_TOKEN=EAAcHoa1YgI4BQtYu702ghs7Q23EJu2QV1hXZBPxnRKoGfhR7AZAuMkX8wRv5ZBBdHP7n3vR7wo08OL5U6OZCo0e7tV0riUiHatZBkm7FcMGlM25Q0OGFZCZCoiL52OVL2oBb7WZCdU8nSQ1LYDKKIFF2J5ZAAwD4FsZCR6dc6zpyODn5f57YwqTp6ZAc7MTGNRYM9riEPHVjgF4NJenkwAUqtn7GQtMpOtXAlUkbjdgk330oo3RgZAzoAqXp3IQ88xlWOi9DZBdTKXRy1tFONFXJ7AlLb
# Phone Number ID (obtener desde Meta Business Manager)
WHATSAPP_PHONE_NUMBER_ID=
# Número de teléfono: 57 300 3847821 (formato: 573003847821)
# Webhook Verify Token (debe coincidir con el configurado en Meta)
WHATSAPP_VERIFY_TOKEN=VETERINARIA_LA_VILLA_2024

